{% extends "base.html.twig" %}

{% block title %}
    Le Blog de l'IA - Inscription
{% endblock %}

{% block container %}
    <div class="container">
        <h1 class="mt-4">Formulaire d'inscription</h1>

        {{ form(form) }}
    </div>
{% endblock %}
