{% extends "base.html.twig" %}

{% block title %}Le Blog de l'IA{% endblock %}

{% block container %}
<div class="container text-center">
    <h1 class="titre">Le Blog de l'IA</h1>
    <h2 class="legend">
        <i>N'attendez pas Terminator pour vous y intéresser !</i>
    </h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card text-bg-dark">
        <img src={{ asset('build/intel.png')}} class="card-img" alt="Le Blog de l'IA">
        <div class="card-img-overlay">
          <h3 class="card-title"><i>Le Blog de l'IA</i></h3>
          <p class="card-text">Bienvenue sur le blog de l'IA. Découvrez les nouveaux articles sur l'inteligence artificielle. Connectez vous ou inscrivez vous</p>
        </div>
      </div>
</div>

{% endblock %}
