{% extends 'base.html.twig' %}

{% block title %}Le blog de l'IA
{% endblock %}

{% block container %}
	<div class="container-fluid">
		<article>
			
			<div class="container-fluid presentation">
				<div class="text-center">
					<h2>
						<i>A propos de nous </i>
					</h2>
				</div>
				<!-- Ronan fera un meilleur texte (One eternity later... ISSOU)-->
			<p>Permettez-nous de vous présenter l'équipe passionnée qui se trouve derrière ce blog dédié aux intelligences
				            artificielles. Notre équipe est animée par une curiosité insatiable et une volonté constante de repousser
				            les frontières de la connaissance.<br>
				Que ce soit en explorant les dernières avancées technologiques, en discutant des implications éthiques ou en
				            partageant des cas d'utilisation concrets, notre objectif est de vous tenir informés et de vous guider à
				            travers le monde fascinant des IA.<br>
				Nous croyons fermement en l'importance de la transparence et de l'accessibilité. C'est pourquoi nous nous
				            efforçons de présenter des informations complexes de manière claire et concise, afin que chacun puisse
				            comprendre et s'engager dans les discussions sur l'IA.<br>Rejoignez-nous dans cette aventure intellectuelle,
				            où nous explorons ensemble les enjeux, les opportunités et les défis passionnants qui accompagnent
				            l'évolution de l'intelligence artificielle. Ensemble, nous repoussons les limites de la compréhension et
				            façonnons l'avenir de cette technologie révolutionnaire.
			</p>
			</div>
		</article>
	</div>

{% endblock %}
