

		<div class="my-navigation-container">
			<nav>
				<img class='logo' src="build/images/intel.png" alt="">
				<ul>
					<li><a href="#">Accueil</a></li>

					<li><a href="#">Services</a></li>

					<li><a href="#">Downloads</a></li>

					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>