<header class="my-navigation-container">
	<nav>
		{# <img class='logo' src="build/images/intel.png" alt=""> #}
		<h1>Le Blog de l'IA</h1>
		<ul>
			<li><a href="#">Accueil</a></li>

			<li><a href="#">Articles</a></li>

			<li><a href="#">A propos</a></li>

			<li><a href="#">Inscription</a></li>
		</ul>
		
		<ul>
			<li><a href="#">Connexion</a></li>

			<li><a href="#">Recherche</a></li>
		</ul>
	</nav>
</header>