{% extends "base.html.twig" %}

{% block title %}
	Le Blog de l'IA - Articles
{% endblock %}

{% block container %}

	<h1 class="titre text-center">Liste des articles</h1>
		<div class="article">
            
			    {% for post in posts %}
            	{% include "components/_card.html.twig" with {post: post} only %}
			    {% endfor %}
            
		</div>
    </div>
	
{% endblock %}
