{% extends "base.html.twig" %}

{% block title %}Le Blog de l'IA - Modification de mot de passe{% endblock %}

{% block container %}
    <div class="container">
        <h1 class="mt-4">Modification de mot de passe</h1>

        {% for mesage in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(form)}}
    </div>
{% endblock %}
